@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background-image: url(grasslands.png);
    image-rendering: pixelated;


    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}

.spin {
    animation: spin 0.5s ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img {
    image-rendering: pixelated;
}